<ion-view title="Login" id="page4" class="login">
  <ion-content padding="true" class="has-header">
    <h1 id="login-heading1" style="color:#0B3B92;font-style:italic;text-align:center;"> Time Keeper</h1>
    <div>
      <img src="img/v3XqNMihTcGCmWiNMxmg_16809155_963514137116695_1640888197_n.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input item-stacked-label" id="login-input1">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input item-stacked-label" id="login-input2">
          <input type="password" placeholder="password">
        </label>
      </ion-list>
    </form>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <a ui-sref="menu.home" id="login-button1" style="font-style:italic;" class="button button-positive  button-block">Log in</a>
    <div id="login-button-bar1" class="button-bar">
      <button id="login-button9" class="button button-positive  button-block">facebook</button>
      <button id="login-button10" class="button button-positive  button-block">google</button>
    </div>
    <a ui-sref="signup" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
  </ion-content>
</ion-view>