<ion-view title="Signup" id="page5" class="signup">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input name" id="signup-input3">
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input item-stacked-label email" id="signup-input4">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input item-stacked-label password" id="signup-input5">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <a ui-sref="login" id="signup-button3" class="button button-stable  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>