<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title"></div>
        
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header menu">
      <ion-list id="menu-list1">
          <ion-item id="menu-list-item8" ></ion-item>
           <div class="item item-avatar-top" >
            <img src="img/v3XqNMihTcGCmWiNMxmg_16809155_963514137116695_1640888197_n.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
            
            <h2 class="text-center"> <i class="icon ion-android-person"></i> username</h2>
            <p class="text-center">  Welcome</p>
          </div>
        <ion-item id="menu-list-item2" ui-sref="menu.home" menu-close="" class="item-calm">
            <i class="icon ion-home"></i> Home</ion-item>
        <ion-item id="menu-list-item3" ui-sref="menu.remind" menu-close="" class="item-">
            <i class="icon ion-android-notifications"></i> Remind</ion-item>
        <ion-item id="menu-list-item4" ui-sref="menu.alarm" menu-close="" class="item-calm">
             <i class="icon ion-ios-clock"></i> Alarm</ion-item>
        <ion-item id="menu-list-item5" ui-sref="menu.notes" menu-close="" class="item-"> <i class="icon ion-android-document"></i> Notes</ion-item>
        <ion-item id="menu-list-item6" ui-sref="menu.about" menu-close="" class="item-calm">
             <i class="icon ion-help-circled"></i> About</ion-item>
          
        <ion-item id="menu-list-item7" ui-sref="login" class="item-stable">
             <i class="icon ion-android-exit"></i> Logout</ion-item>
      </ion-list>
        
    </ion-content>
  </ion-side-menu>
</ion-side-menus>